
body{
font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #b0a101;
}
.h-btn{
    border: 0;/*hire me box er black boarder gese ga re tamu*/
    border-radius: 5px;/*edi ar backgroud styles theke copy figma*/
background: #b0a101;
font-size: 20px;/*size,weight,color of hire me text*/
font-weight: 700;
color:white ;
padding:18px 36px ;/*using this hire me box size increase */
}
/*nav related habijabi*/
nav{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin:0 200px;
}
.name{
    color: var(--Dark-01, #181818);
font-weight: 800;
line-height: normal;

}
nav > ul{
    display: flex;
    align-items: center;/*ul and nav e ei jinish disi jate name,portfolio,hire me,contact same line e thake*/
}
nav li{
    list-style:none;
    margin-right:51px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.header{
    background: #f9f7e3;
}
.banner{
    padding:30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile{
    width: 600px;
}