
body{
font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #b0a101;
}
.h-btn{
    border: 0;/*hire me box er black boarder gese ga re tamu*/
    border-radius: 5px;/*edi ar backgroud styles theke copy figma*/
background: #b0a101;
font-size: 20px;/*size,weight,color of hire me text*/
font-weight: 700;
color:white ;
padding:18px 36px ;/*using this hire me box size increase */
}
.section-title{
    color:#181818);
text-align: center;
font-size: 35px;
font-weight: 700;
}
.section-description{
    color:  #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
}
/*nav related habijabi*/
nav{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin:0 200px;
}
.name{
    color: var(--Dark-01, #181818);
font-weight: 800;
line-height: normal;

}
nav > ul{
    display: flex;
    align-items: center;/*ul and nav e ei jinish disi jate name,portfolio,hire me,contact same line e thake*/
}
nav li{
    list-style:none;
    margin-right:51px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.header{
    background: #f9f7e3;
    background-image:url('../images/header_bg.png');/*shudhu emne rakhle backgroud img repeat hocche so.backgroud img no repeat dibo*/
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding:30px 30px 0px 150px;/*top right bottom left*/
    display: flex;
    align-items: center;
    justify-content: space-between;/*eita dewar por background img er majhe bilai aiya porse*/
}
.banner-contect{
    max-width: 500px;
}
.banner .profile{
    width: 600px;
}
.greeting{
    font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner-heading{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top:5px ;
    margin-bottom: 20px;
}
.discription{

}
/*main section*/
main{
    max-width: 1140px;
    margin: 0 auto;/*eita diye about section er banner ta ke majhe ansi ar margin width diye full banner ta re choto banaisi ekta size e ansi*/
}
/*about section*/
.about{
    padding: 130px;
    border-radius: 10px;
background: #FFF8F3;
margin:130px 0 ;
}
.about-full-info{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;e
}